// babel 자체는 아무것도 하지 않음.
// plugin이 컴파일
// * 매번 plugin 패키지 설치
// .babelrc에 더하는 것이 귀찮
// preset으로 plugin 그룹 한번에 설치
// @https://velog.io/@pop8682/%EB%B2%88%EC%97%AD-%EC%99%9C-babel-preset%EC%9D%B4-%ED%95%84%EC%9A%94%ED%95%98%EA%B3%A0-%EC%99%9C-%ED%95%84%EC%9A%94%ED%95%9C%EA%B0%80-yhk03drm7q
{
  "presets": ["@babel/preset-env"]
}
